.container {
    width: 99.8%;
    height: 51px;
    background-color: dimgrey;
    border: solid black; 
}

.topnav {
    position:fixed
}

body {
    background-color: rgb(175, 119, 119);
    position:absolute;
    Height: 89%;
    Width: 98.9%;
    border: solid black; 

}
button {
    width: 498.7px;
    height: 50px;
    font-weight: bold;
    position: relative;
    animation: mymove 2s ;
    font-family: 'Faster One' cursive; 
    background-color: darkolivegreen;
    font-size: 40px;
    font-family: 'Faster One', cursive;
    text-align: center;    
  }

  .button1 {animation-timing-function: linear;}
  .button2 {animation-timing-function: ease;}
  .button3 {animation-timing-function: ease-in;}
  .button4 {animation-timing-function: ease-out;}
  .button5 {animation-timing-function: ease-in-out;}

  @keyframes mymove {
    from {left: 0px;}
    to {left: 800px;}
  }

  table {
    border-collapse: collapse;
    border: 3px solid black;
    background-color: darkolivegreen;
    font-weight: 600px;
    text-decoration: none;
    width: 600px;
  } 
  
  th,tr {
    border: 3px solid black;
    font-weight: 600px;
    text-decoration: none;
  }

  table a {
    table-layout:auto;
    width: 605px;
    height: 50px;
    text-align: center;
    
  }
  main {
 
    background-color: antiquewhite; 
    margin: 3px;
  }
  img {
      height: 496px;
      width: 494.6px;
      margin: 2px;
  }

  .information {
      float: center;

  }

  footer {
     
     margin-left: -3px;
      
  }
  
