html {
    height: 500%;
    font-family: Brush Script MT, Brush Script Std, cursive;
    color: black;
}


h1 {
    text-align: center;
    font-size: 2.5em;
    color: white;
}

.tasks{
  background-color: #F9E79F;
  margin-top: 25px;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
  width: 20%;
}

ul {
  list-style-type: none;
  font-size: 20px;
}


.list {
  border-bottom: 2px solid grey;
  padding-bottom: 10px;
  padding-top: 15px;
  font-size: 1.3em;
  text-decoration: none;
}
